header {
    color: #371B58;
    font-size:45px;
    font-family: 'Anton', sans-serif;
    
}
body {
    background-color:9CB4CC;

}
nav {
    color:#100f3c;
    font-size:25px;
    font-family: 'Bitter', serif;
    
}

h2 {
    font-family: 'Gentium Book Plus', serif;
    
}
